<!DOCTYPE html>
<html>
<head>
  <title><%= @title ||= "点名时间（title）" %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <% if Rails.env == 'production' %>
    <script src="http://share.lijiping.com/share.js?uid=123456" type="text/javascript"></script>
  <% else %>
    <script src="http://localhost:3000/share.js?source=点名时间&uid=123456" type="text/javascript"></script>
  <% end %>
</head>
<body>

<%= yield %>
<%= image_tag "http://assets.demohour.com/upload/project_photos/files/000/000/378/large.jpg?1318189076" %>
<%= image_tag "http://assets.demohour.com/upload/project_photos/files/000/000/484/large.JPG?1318520638" %>
<%= image_tag "http://assets.demohour.com/upload/project_photos/files/000/000/380/large.jpg?1318189488" %>
<%= image_tag "http://assets.demohour.com/upload/project_photos/files/000/000/483/large.png?1318520304" %>

</body>
</html>
